body {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    

}

a { 
    text-decoration: none; 
    color: inherit;

}

a:link, a:visited {
    color: black;
  
}
  
a:hover, a:active {
    color: grey;
    transition: 0.25s;
  
}

.logo img{
    position:relative;
    top: 3px;
}
  
.heading{
    background-color: rgb(188, 188, 188);
    display: flex;
    flex-flow: column;
    height: 50px;
    display: grid;
    grid-template-columns: auto;

}

.heading p{
    position: relative;
    text-align: right;
    right: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container{
    align-items:center;
    justify-content:center;
    
}

.container {
    background-color: #b0b2b6;
    width: 1439px;
    color:rgb(7, 16, 24);
    padding: 50px;
    box-shadow: 10px 10px 30px#000000;
    text-align: center;

}

.container input {
    display: block;
    margin: 20px auto;
    text-align: center;
    background: none;
    padding: 12px;
    font-size: 25px;
    border-radius: 22px;
    outline: none;
    color: #14191b;
}

.container input[type="text"], .container input[type="password"] {
    border: 3px solid hsl(218, 89%, 53%);
    width: 1300px;
}

.container input[type="submit"] {
    width: 250px;
    border: 3px solid #2ecc71;
    cursor: pointer;
    width: 300px;
}

.container input[type="text"]:focus, .container input[type="password"]:focus {
    border-color:#2ecc71;
    width: 1400px;
    transition: 0.5s;
}

.container input[type="submit"]:hover {
    background-color: #2ecc71;
    transition:n 0.5s; 
}

.container {
  background-color: #f2f2f2;
  padding: 5px 30px 70px 20px;
  border: 15px solid lightgrey;
  border-radius: 3px;
  font-family: cursive;
  font-size: 20px;
}

label {
  margin-bottom: 25px;
  display: block;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

label u{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type=text], input[type=password], input[type=email] {
  width: 90%;
  margin-bottom: 20px;
  padding: 12px;
  border: 3px solid hsl(218, 89%, 53%);
  border-radius: 10px;
  box-sizing: border-box
}

select {
  width: 90%;
  margin-bottom: 20px;
  padding: 15px;
  border: 3px solid hsl(218, 89%, 53%);
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
}